{:duct.profile/base
 {:duct.core/project-ns foobar

  :duct.router/cascading
  [#ig/ref [:foobar.handler/example]
   #ig/ref :foobar.handler/cqrs]

  :foobar.handler/example {}
  :foobar.handler/cqrs {:queue #ig/ref :duct.queue/kafka
                        :data-source #ig/ref :foobar.db/data-source
                        :commands [:foobar.handler.cqrs/example]
                        }

  :foobar.db/data-source {:service #ig/ref :foobar.mock/data-source}

  :duct.queue/kafka {"bootstrap.servers", "localhost:9092"
                     :consumer {"group.id" "foobar"
                                "enable.auto.commit" false
                                "key.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"
                                "value.deserializer" "org.apache.kafka.common.serialization.StringDeserializer"}
                     :producer {"client.id" "foobar"
                                "enable.idempotence" true
                                "key.serializer", "org.apache.kafka.common.serialization.StringSerializer"
                                "value.serializer", "org.apache.kafka.common.serialization.StringSerializer"}}
  ;; :duct.datomic/conn {:db-uri "mem:/"}
  :foobar.mock/queue {}
  :foobar.mock/data-source {}
  }
 ;; :foobar.db/data-source {:service nil}
 ;; :foobar.db/data-source {:service #ig/ref :duct.datomic/conn}

 ;; :dev
 ;; :duct.kafka/conn #ig/ref :foobar.mock/queue

 ;; :foobar.datomic/conn {:db "mem:"}

 ;; :foobar.tape/conn {}

 ;; prod
 ;; :duct.kafka/conn {:host "localhost"} ;; etc
 ;; :duct.datomic/conn {:host "localhost"} ;; etc

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}}
